
element.style {
}

body, html {
    height: 100%;
}
body {
    color: #333;
    padding: 0!important;
    margin: 0!important;
    font: 400 14px 'Open Sans', Arial, sans-serif;
    direction: ltr;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}
::-webkit-scrollbar-thumb {
    background-color: #cecece;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
::selection {
    color: #fff;
    background: #e45000;
}
